export MAVEN_PACKAGE="opendj"
export BINTRAY_PACKAGE="wrends"
export JFROG_PACKAGE="org/forgerock/opendj"

package_accept_release_tag() {
  local tag_name="${1}"

  if [[ "${tag_name}" != "3.0.0" \
     && "${tag_name}" != "3.5.1" ]]; then
    echo "Skipping ${tag_name} since we only want to build 3.x right now."
    return -1
  else
    return 0
  fi
}
