<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>forgerock-archive</id>
      <url>https://wrensecurity.jfrog.io/artifactory/forgerock-archive/</url>
      <mirrorOf>
        maven.forgerock.org,forgerock-internal,forgerock-plugins-repository,forgerock-snapshots-repository,wrensecurity-forgerock-archive
      </mirrorOf>
    </mirror>
    <mirror>
      <id>wrensecurity-snapshots</id>
      <url>https://wrensecurity.jfrog.io/wrensecurity/snapshots/</url>
      <mirrorOf>
        forgerock-snapshots-repository
      </mirrorOf>
    </mirror>
  </mirrors>
</settings>
