<?xml version="1.0" encoding="UTF-8"?>
<!--
  The contents of this file are subject to the terms of the Common Development and
  Distribution License (the License). You may not use this file except in compliance with the
  License.

  You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
  specific language governing permission and limitations under the License.

  When distributing Covered Software, include this CDDL Header Notice in each file and include
  the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
  Header, with the fields enclosed by brackets [] replaced by your own identifying
  information: "Portions Copyright [year] [name of copyright owner]".

  Copyright 2011-2016 ForgeRock AS.
  Portions Copyright 2022 Wren Security.
-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties>
    <title>About Wren:DS Directory Server</title>
    <author email="info@wrensecurity.org">${project.organization.name}</author>
  </properties>
  <body>
    <section name="About Wren:DS Directory Server">
      <p>
        Wren:DS is an LDAPv3 compliant directory service, developed for the Java
        platform, providing a high performance, highly available, and secure
        store for the identities managed by your organization. Its easy
        installation process, combined with the power of the Java platform makes
        Wren:DS the simplest, fastest directory to deploy and manage.
      </p>
    </section>
    <section name="Get the Wren:DS Directory Server">
      <p>
        You can obtain the Wren:DS Directory Server using any of the following
        methods:
      </p>
      <subsection name="Download">
        <p>
          The easiest way to get the Wren:DS is to download the latest binary 
          [release](https://github.com/WrenSecurity/wrends/releases).
        </p>
      </subsection>
      <subsection name="Build">
        <p>
          For the DIY enthusiasts you can build it yourself by checking out the
          <a href="scm.html">latest code</a>
          and building it with Maven 3.
        </p>
      </subsection>
    </section>
  </body>
</document>
